# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore logs and large files
logs/
*.log

# Ignore dataset files
data/
*.tfrecords
*.zip
*.tar.gz

# Ignore generated images
images/

# Ignore checkpoints and models
checkpoints/
*.h5
*.ckpt

# Ignore virtual environments
venv/
.env

# Ignore Docker artifacts
docker-compose.override.yml
**/node_modules

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Kaggle API credentials
kaggle.json
